html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  background: #000;
  overflow-x: hidden;
  min-height: 160vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  max-width: 30em;
}
header {
  height: 100vh;
  min-height: 40em;
  background: url(/Tesla/images/hero.jpg) no-repeat center;
  background-size: cover;
}
/*set flex Layouts*/
.navbar,
.header-body,
.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#video,
.guage,
.about-text,
.action {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  color: #111;
  padding: 1em 2em;
}
.navbar a,
.sidebar a {
  color: #111;
}
.navbar li {
  display: inline-block;
}
.navbar li a,
.menu-btn {
  transition: 0.3s;
  padding: 0.3em 0.8em;
  border-radius: 0.5em;
}
.navbar li a :hover,
.menu-btn:hover {
  background: rgba(191, 191, 191, 0.5);
}
.brand {
  width: 7em;
}
.menu-btn {
  cursor: pointer;
}
.menu-btn-mobile {
  display: none;
}
.sidebar {
  color: #111;
  background: #fff;
  position: absolute;
  top: 0;
  right: -20em;
  padding: 2em;
  min-width: 20em;
  height: 100vh;
  overflow: scroll;
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.5);
  z-index: 3;
  transition: 0.4s ease-in-out;
}
.close-btn {
  cursor: pointer;
  text-align: right;
}
.sidebar li {
  margin: 1.5em 0;
}
.sidebar-backdrop {
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  z-index: 1;
  opacity: 0;
  display: none;
  transition: 0.3s;
}
.header-body {
  flex-direction: column;
  text-align: center;
  height: 90%;
  padding: 0 2em;
}
.header-body p {
  margin: 1em auto 3em auto;
}
.title {
  font-size: 3.4em;
  color: #5c5e62;
  margin: 0.3em 0;
}
.stats {
  gap: 2em;
  margin-bottom: 1em;
}
.stats > div {
  width: 10em;
}
.stats h2 {
  font-size: 2.3em;
}
.stats h2 span {
  font-size: 0.5em;
}
.btn {
  color: #fff;
  border: 3px #fff solid;
  padding: 0.2em;
  width: 12em;
  border-radius: 3em;
  font-size: 0.9em;
  transition: 0.3s;
}
.btn:hover {
  background: #fff;
  color: #000;
}
.btn-mobile {
  display: none;
}
#video {
  padding: 6em 2em;
}
#video video {
  width: 100%;
  height: 20vw;
  max-width: 1200px;
}
.gauge img {
  width: 3.5em;
}
.banner-img {
  background: url(/Tesla/images/tesla\ 4.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  min-height: 40em;
  transition: 0.3s;
}
.about {
  margin: 40em 0;
  position: relative;
}
.about img {
  width: 110%;
  object-fit: cover;
}
.about-text {
  gap: 2em;
  position: absolute;
  top: 70%;
  left: 20%;
  transform: translateX(-50%);
  width: 80%;
}

footer {
  text-align: center;
}

footer li {
  display: inline-block;
  margin: 0.7em;
}
footer li a {
  color: #fff;
  font-size: 0.9em;
  text-decoration: underline;
}
